<launch>
    <arg name="view_only" default="-1"/>
    <arg name="config_file" default="single_radar.json"/>
    <node pkg="radar_views" type="RangeDoppler.py" name="RangeDopplerView" output = "screen">
        <param name="config_path" value="$(find radar_launch)/configs/$(arg config_file)"/>
        <param name="view_only" value="$(arg view_only)"/>
    </node>
    <node pkg="radar_views" type="RangeAzimuth.py" name="RangeAzimuthView" output = "screen">
        <param name="config_path" value="$(find radar_launch)/configs/$(arg config_file)"/>
        <param name="view_only" value="$(arg view_only)"/>
    </node>
</launch>